<div *ngIf="team">
  <h1 class="mat-h1">Edit team</h1>

  <mat-card>
    <mat-card-content>
      <form class="example-form" (ngSubmit)="save()" #teamForm="ngForm">

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Team name</mat-label>
                <input matInput [(ngModel)]="team.name" name="name"
                       required minlength="2" #name="ngModel">
                <mat-error *ngIf="name.hasError('required')">You must enter a value</mat-error>
                <mat-error *ngIf="name.hasError('minlength')">The value must have a min length of 2</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Nickname</mat-label>
                <input matInput [(ngModel)]="team.nickname" name="nickname"
                       required minlength="4" #nickname="ngModel">
                <mat-error *ngIf="nickname.hasError('required')">You must enter a value</mat-error>
                <mat-error *ngIf="nickname.hasError('minlength')">The value must have a min length of 4</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <br>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="team.foundedOn" name="foundedOn"
                  required #foundedOn="ngModel">
          <mat-error *ngIf="foundedOn.hasError('required')">You must enter a value</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Stadium</mat-label>
                <input matInput [(ngModel)]="team.stadium" name="stadium"
                        required minlength="4" #stadium="ngModel">
                <mat-error *ngIf="stadium.hasError('required')">You must enter a value</mat-error>
                <mat-error *ngIf="stadium.hasError('minlength')">The value must have a min length of 4</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Coach</mat-label>
                <input matInput [(ngModel)]="team.coach" name="coach"
                        required minlength="4" #coach="ngModel">
                <mat-error *ngIf="coach.hasError('required')">You must enter a value</mat-error>
                <mat-error *ngIf="coach.hasError('minlength')">The value must have a min length of 4</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <br>

        <mat-form-field appearance="fill">
          <mat-label>Professional Status</mat-label>
          <mat-select [(ngModel)]="team.professionalStatus" name="professionalStatus"
                       required #professionalStatus="ngModel">
            <mat-option *ngFor="let pse of enumKeys" [value]="pse">
              {{conditionalOperator[pse]}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="professionalStatus.hasError('required')">You must enter a value</mat-error>
        </mat-form-field>

        <br>

        <button type="submit" [attr.disabled]="!teamForm.form.valid" mat-raised-button>Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
