<h1 class="mat-h1">Create team</h1>

<mat-card>
  <mat-card-content>
    <form class="example-form" [formGroup]="teamForm">

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Team name</mat-label>
              <input matInput #name formControlName="name">
              <mat-error *ngIf="getName().invalid">{{getErrorMessage(getName(), 2)}}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nickname</mat-label>
              <input matInput #nickname formControlName="nickname">
              <mat-error *ngIf="getNickName().invalid">{{getErrorMessage(getNickName(), 4)}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <br>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" #foundedOn formControlName="foundedOn">
        <mat-error *ngIf="getFoundedOn().invalid">{{getErrorMessage(getFoundedOn(), 0)}}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Stadium</mat-label>
              <input matInput #stadium formControlName="stadium">
              <mat-error *ngIf="getStadium().invalid">{{getErrorMessage(getStadium(), 4)}}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Coach</mat-label>
              <input matInput #coach formControlName="coach">
              <mat-error *ngIf="getCoach().invalid">{{getErrorMessage(getCoach(), 4)}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Professional Status</mat-label>
        <mat-select #pse formControlName="professionalStatus">
          <mat-option *ngFor="let pse of enumKeys" [value]="pse">
            {{conditionalOperator[pse]}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="getProfessionalStatus().invalid">{{getErrorMessage(getProfessionalStatus(), 0)}}</mat-error>
      </mat-form-field>

      <br>

      <button mat-raised-button (click)="add(name.value, nickname.value, foundedOn.value,
       stadium.value, pse.value, coach.value);">Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>

