<div class="grid-container" *ngIf="team">
  <h1 class="mat-h1">{{team.name}} detail</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Team information
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>info</mat-icon>
              <div mat-line class="item"><strong>Name:</strong></div>
              <div mat-line class="item"> {{team.name}} </div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon></mat-icon>
              <div mat-line class="item"><strong>Nickname:</strong></div>
              <div mat-line class="item"> {{team.nickname}} </div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
              <div mat-line class="item"><strong>Coach:</strong></div>
              <div mat-line class="item"> {{team.coach}} </div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>event</mat-icon>
              <div mat-line class="item"><strong>Founded on:</strong></div>
              <div mat-line class="item"> {{team.foundedOn}} </div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>location_on</mat-icon>
              <div mat-line class="item"><strong>Stadium:</strong></div>
              <div mat-line class="item"> {{team.stadium}} </div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>insights</mat-icon>
              <div mat-line class="item"><strong>Professional Status:</strong></div>
              <div mat-line class="item"> {{team.professionalStatus}} </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Players
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <button mat-raised-button class="createButton" routerLink="/teams/{{team._id}}/players/create">Create</button>
          <br>
          <br>
          <app-playerlist></app-playerlist>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Recent football matches
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          (Wordt nog aangewerkt is aparte component)
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Upcoming football matches
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          (Wordt nog aangewerkt is aparte component)
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
