<!--<div class="row">-->
<!--  <div class="col-sm-6 col-md-8 col-lg-9">-->
<!--    <h1 id="aboutTitle">Over deze applicatie</h1>-->
<!--    <p>-->
<!--      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool-->
<!--      Breda.-->
<!--    </p>-->
<!--    <h3>Naam van jouw project</h3>-->
<!--    <p>-->
<!--      Hier beschrijft je wat je project inhoudt. Beschrijf ook de entiteiten/domeinobjecten die je gebruikt,-->
<!--      en benoem per entiteit de attributen met hun datatype.-->
<!--    </p>-->
<!--  </div>-->
<!--  <div class="col-sm-6 col-md-4 col-lg-3">-->
<!--    <div class="card">-->
<!--      <div class="d-flex justify-content-center align-items-center">-->
<!--&lt;!&ndash;        <img&ndash;&gt;-->
<!--&lt;!&ndash;          src="assets/images/person.png"&ndash;&gt;-->
<!--&lt;!&ndash;          class="card-img-top rounded-circle border profile-pic"&ndash;&gt;-->
<!--&lt;!&ndash;          alt="..."&ndash;&gt;-->
<!--&lt;!&ndash;        />&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Jouw naam hier</h5>-->
<!--        <p class="card-text">-->
<!--          Studentnummer: 12345678-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<h3>Entiteiten</h3>-->
<!--<div class="row">-->
<!--  <div class="col-sm-12 col-md-4">-->
<!--    <p>Entiteit 1</p>-->
<!--    <ul>-->
<!--      <li>naam: string</li>-->
<!--      <li>id: number</li>-->
<!--      <li>birthdate: date</li>-->
<!--      <li>isSelected: boolean</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="col-sm-12 col-md-4">-->
<!--    <p>Entiteit 2</p>-->
<!--    <ul>-->
<!--      <li>naam: string</li>-->
<!--      <li>id: number</li>-->
<!--      <li>birthdate: date</li>-->
<!--      <li>isSelected: boolean</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="col-sm-12 col-md-4">-->
<!--    <p>Entiteit 3</p>-->
<!--    <ul>-->
<!--      <li>naam: string</li>-->
<!--      <li>id: number</li>-->
<!--      <li>birthdate: date</li>-->
<!--      <li>isSelected: boolean</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-12">-->
<!--    <h3>Use Cases</h3>-->
<!--    <p>De applicatie biedt de volgende functionaliteit.</p>-->
<!--&lt;!&ndash;    <div *ngFor="let UC of useCases">&ndash;&gt;-->
<!--&lt;!&ndash;      <app-usecase [useCase]="UC"></app-usecase>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <p>Vul hier zelf meer functionaliteit toe.</p>-->
<!--  </div>-->
<!--</div>-->

<div class="grid-container">

  <h1 class="mat-h1">Over deze applicatie</h1>
  <p>Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool Breda.</p>

  <mat-grid-list cols="3" rowHeight="350px">

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>EFootball</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p>De casus die ik verzonnen heb voor dit project heet EFootball. De webapplicatie wordt een applicatie waar
            je
            gegevens van de Nederlandse voetbalcompetitie Eredivisie kan terug vinden. Hiervoor heb ik gekozen voor drie
            entiteiten die daarbij te maken hebben. De drie uitgekozen entiteiten zijn teams, spelers en wedstrijden. De
            webapplicatie ondersteunt het wijzigen en aanmaken van alle drie de entiteiten, ook wordt er nog ranklijst
            genereert van de competitie gebaseerd op de wedstrijden die beschikbaar zijn in de backend. Ook kunnen
            gebruikers inloggen en registeren op de webapplicatie. De ingelogde gebruikers kunnen ook teams volgen.
            Tevens kunnen gebruikers ook nog met elkaar vrienden worden, zodat ze elkaars profiel informatie kunnen
            bekijken als bijvoorbeeld hun gevolgde teams.</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>Student</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img src="assets/profielfoto.jpg" width="200" height="200"> <br>
          Naam: Elco Mussert <br>
          Studentnummer: 2153150
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>Entiteit 1: Team</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ul>
            <li>Id: Number</li>
            <li>Name: String</li>
            <li>FoundedOn: Date</li>
            <li>Stadium: String</li>
            <li>Nickname: String</li>
            <li>ProfessionalStatus: String</li>
            <li>Coach: String</li>
            <li>Captain: Player</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>Entiteit 2: Player</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ul>
            <li>Id: Number</li>
            <li>Firstname: String</li>
            <li>Lastname: String</li>
            <li>Nationality: String</li>
            <li>DateOfBirth: Date</li>
            <li>Positions: Array[]</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>Entiteit 3: Match</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ul>
            <li>Id: Number</li>
            <li>HomeTeam: Team</li>
            <li>AwayTeam: Team</li>
            <li>Result: String</li>
            <li>Date: Date</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="17">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>Usecases</h2>
          </mat-card-title>
          <mat-card-subtitle>
            <p>Een aantal voorbeelden van de usecases in de webapplicatie.</p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngFor="let UC of useCases">
            <app-usecase [useCase]="UC"></app-usecase>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</div>
