<div class="grid-container">
  <h1 class="mat-h1">Create player</h1>

  <form class="example-form" [formGroup]="playerForm">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card class="dashboard-card">
          <mat-card-content class="dashboard-card-content">

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Firstname</mat-label>
                    <input matInput #firstname formControlName="firstname">
                    <mat-error *ngIf="getFirstname().invalid">{{getErrorMessage(getFirstname(), 2)}}</mat-error>
                  </mat-form-field>
                </td>
                <td></td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Lastname</mat-label>
                    <input matInput #lastname formControlName="lastname">
                    <mat-error *ngIf="getLastname().invalid">{{getErrorMessage(getLastname(), 4)}}</mat-error>
                  </mat-form-field>
                </td>
                <td></td>
                <td>
                  <mat-checkbox #captain value="true">Captain</mat-checkbox>
                </td>
              </tr>
            </table>

            <table>
              <tr>
                <td>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" #dateOfBirth formControlName="dateOfBirth">
                    <mat-error *ngIf="getDateOfBirth().invalid">{{getErrorMessage(getDateOfBirth(), 0)}}</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>
                <td></td>
                <td>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nationality</mat-label>
                    <mat-select #nat formControlName="nationality">
                      <mat-option *ngFor="let nat of enumKeys" [value]="nat">
                        {{conditionalOperator[nat]}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="getNationality().invalid">{{getErrorMessage(getNationality(), 0)}}</mat-error>
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <br>
            <strong>Positions:</strong>
            <section>
              <ul>
                <li *ngFor="let pos of enumKeysPos;" [value]="pos">
                  <input type="checkbox" (change)="getCheckboxValues($event, pos)">
                  {{positions[pos]}}
                </li>
              </ul>
            </section>

            <button mat-raised-button
                    (click)="add(firstname.value, lastname.value, nat.value, dateOfBirth.value, captain.value)">Submit
            </button>

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
