<h1 class="mat-h1">Overview of all the teams</h1>

<button mat-raised-button routerLink="/teams/create">Create</button>

<br><br>

<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="teams" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="foundedOn">
        <th mat-header-cell *matHeaderCellDef> Founded on</th>
        <td mat-cell *matCellDef="let element"> {{element.foundedOn}} </td>
      </ng-container>

      <ng-container matColumnDef="stadium">
        <th mat-header-cell *matHeaderCellDef> Stadium</th>
        <td mat-cell *matCellDef="let element"> {{element.stadium}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef> Nickname</th>
        <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="professionalStatus">
        <th mat-header-cell *matHeaderCellDef> Professional Status</th>
        <td mat-cell *matCellDef="let element"> {{element.professionalStatus}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="coach">
        <th mat-header-cell *matHeaderCellDef> Coach</th>
        <td mat-cell *matCellDef="let element"> {{element.coach}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/teams/{{element._id}}">
              <mat-icon>launch</mat-icon>
              <span>Show</span>
            </button>
            <button mat-menu-item routerLink="/teams/edit/{{element._id}}">
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>

            <button mat-menu-item (click)="delete(element._id)" routerLink="/teams">
              <mat-icon>delete_sweep</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card-content>
</mat-card>

