<div class="grid-container" *ngIf="user">
  <h1 class="mat-h1">Profile page: {{user.name}}</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            User Information
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>info</mat-icon>
              <div mat-line class="item"><strong>Username:</strong></div>
              <div mat-line class="item"> {{user.name}} </div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon></mat-icon>
              <div mat-line class="item"><strong>Email:</strong></div>
              <div mat-line class="item"> {{user.email}} </div>
            </mat-list-item>
            <mat-list-item>
              <div *ngIf="followStatus == false">
                <button (click)="FollowUser()" mat-raised-button color="primary">Follow</button>
              </div>
              <div *ngIf="followStatus == true">
                <button (click)="UnfollowUser()" mat-raised-button color="warn">Unfollow</button>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Following
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-following></app-following>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Followers
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-followers></app-followers>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>

