.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.item {
  text-align: left;
  padding-left: 2% !important;
}

.createButton {
  float: left;
}

.follower-img {
  width: 40%;
  height: 5rem;
}
