table {
  width: 100%;
}

.card-title-buttons {
  float: right;
  position: center;
}

.position-icon {
  vertical-align: sub !important;
}

a {
  text-decoration: none !important;
  color: black;
}

td {
  text-align: left;
}
