<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"><a routerLink="/teams/{{element._id}}">{{element.name}} </a></td>
    </ng-container>

    <ng-container matColumnDef="stadium">
      <th mat-header-cell *matHeaderCellDef> Stadium</th>
      <td mat-cell *matCellDef="let element"> {{element.stadium}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="coach">
      <th mat-header-cell *matHeaderCellDef> Coach</th>
      <td mat-cell *matCellDef="let element"> {{element.coach}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>
