<h1 class="mat-h1">Create match</h1>

<mat-card>
  <mat-card-content>
    <form class="example-form" [formGroup]="matchForm">

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Home Team</mat-label>
              <mat-select #homeTeam formControlName="homeTeam">
                <mat-option *ngFor="let ht of teams" [value]="ht._id">
                  {{ht.name}}
                </mat-option>
              </mat-select>
            <mat-error *ngIf="matchForm.errors?.identityRevealed  && (matchForm.touched || matchForm.dirty)">Can not be the same</mat-error>
            </mat-form-field>
          </td>
          <td></td>
          <td>
            <mat-icon>remove</mat-icon>
          </td>
          <td></td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Away Team</mat-label>
              <mat-select #awayTeam formControlName="awayTeam">
                <mat-option *ngFor="let aw of teams" [value]="aw._id">
                  {{aw.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="matchForm.errors?.identityRevealed  && (matchForm.touched || matchForm.dirty)">Can not be the same</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="example-full-width">
        <mat-label>Result</mat-label>
        <input matInput #result formControlName="result"
               placeholder="1-1" value="..-..">
        <mat-error *ngIf="getResult().invalid">{{getErrorMessage(getResult())}}</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" #matchDate formControlName="matchDate">
        <mat-error *ngIf="getMatchDate().invalid">{{getErrorMessage(getMatchDate())}}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>

      <button mat-raised-button (click)="add(homeTeam.value, awayTeam.value, result.value,
             matchDate.value);">Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>

