<h1 class="mat-h1">Register</h1>

<mat-card>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" id="name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && getName().errors }" />
        <div *ngIf="submitted && getName().errors" class="invalid-feedback">
          <mat-error *ngIf="getName().errors.required">is required</mat-error>
        </div>
      </mat-form-field>
      <br>
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" id="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && getEmail().errors }" />
        <div *ngIf="submitted && getEmail().errors" class="invalid-feedback">
          <mat-error *ngIf="getEmail().errors.required">is required</mat-error>
        </div>
      </mat-form-field>
      <br>
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getPassword().errors }" />
        <div *ngIf="submitted && getPassword().errors" class="invalid-feedback">
          <mat-error *ngIf="getPassword().errors.required">is required</mat-error>
          <mat-error *ngIf="getPassword().errors.minlength">must be at least 6 characters</mat-error>
        </div>
      </mat-form-field>
      <div class="form-group">
        <button mat-raised-button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
