<div>
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="#3f51b5"
    maxWidth="auto"
    proportion="16"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide *ngFor="let match of matches"
                        [hideOverlay]="true">
      <div
        style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
        <table>
          <tr class="score">
            <td class="scoreNumber">X</td>
            <td><mat-icon>remove</mat-icon></td>
            <td class="scoreNumber">X</td>
          </tr>
          <tr>
            <td><strong><a routerLink="/teams/{{match.homeTeam._id}}">{{match.homeTeam.name}}</a></strong></td>
            <td></td>
            <td><strong><a routerLink="/teams/{{match.awayTeam._id}}">{{match.awayTeam.name}}</a></strong></td>
          </tr>
          <tr>
            <td></td>
            <td class="matchDate"><strong>{{match.matchDate | date}}</strong></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="matchDate"><strong>{{match.homeTeam.stadium}}</strong></td>
            <td></td>
          </tr>
        </table>
      </div>
    </mat-carousel-slide>
  </mat-carousel>
</div>
