.score {
  font-size: 75px;
}

.scoreNumber {
  color: white;
  background-color: black;
  left: 0;
  height: 1em;
  right: 0;
  top: -0.25em;
  z-index: -1;
  border-radius: 5%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

td {
  width: 25%;
}

table {
  table-layout: fixed ;
  width: 30%;
}

.matchDate{
  font-size: 10px;
}

.icon {
  /*font-size: 40px;*/
}

.td-icon {
  text-align: center;
}

a {
  text-decoration: none !important;
  color: black;
}
