<h1 class="mat-h1">Login</h1>

<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-group">
        <mat-label for="username">Username</mat-label>
        <input matInput type="text" id="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && getUsername().errors }" />
        <div *ngIf="submitted && getUsername().errors" class="invalid-feedback">
          <mat-error *ngIf="getUsername().errors.required">is required</mat-error>
        </div>
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label for="password">Password</mat-label>
        <input matInput type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getPassword().errors }" />
        <div *ngIf="submitted && getPassword().errors" class="invalid-feedback">
          <mat-error *ngIf="getPassword().errors.required">is required</mat-error>
        </div>
      </mat-form-field>
      <div class="form-group">
        <button mat-raised-button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
