.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-content {
  margin: 1%;
}

.user {
  pointer-events: none;
  cursor: default;
}

.title {
  font-family: "Audiowide", sans-serif;
}
