<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               #sidenav mode="side"
               [(opened)]="opened">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <div *ngIf="user === null">
        <a mat-list-item routerLink="/auth/login">Login</a>
        <a mat-list-item routerLink="/auth/register">Register</a>
      </div>
      <div *ngIf="user !== null">
        <a mat-list-item routerLink="/teams">Teams</a>
        <a mat-list-item routerLink="/matches">Matches</a>
        <hr>
        <mat-toolbar><a routerLink="/user/{{getDecodedAccessToken(authService.getToken())}}">{{user.name}}</a></mat-toolbar>
        <a mat-list-item (click)="logout()">Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
                aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="title">EFootball</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
    </p>
    <!-- Add Content Here -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
