<h1 class="mat-h1">Overview of all the matches</h1>

<button mat-raised-button routerLink="/matches/create">Create</button>

<br><br>

<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="matches" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="homeTeamName">
        <th mat-header-cell *matHeaderCellDef>Home Team</th>
        <td mat-cell *matCellDef="let element"> {{element.homeTeam.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="awayTeamName">
        <th mat-header-cell *matHeaderCellDef>Away Team</th>
        <td mat-cell *matCellDef="let element"> {{element.awayTeam.name}} </td>
      </ng-container>

      <ng-container matColumnDef="stadium">
        <th mat-header-cell *matHeaderCellDef>Stadium</th>
        <td mat-cell *matCellDef="let element"> {{element.homeTeam.stadium}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef>Result</th>
        <td mat-cell *matCellDef="let element"> {{element.result || "_-_"}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="matchDate">
        <th mat-header-cell *matHeaderCellDef>Match Date</th>
        <td mat-cell *matCellDef="let element"> {{element.matchDate}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/matches/edit/{{element._id}}">
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>

            <button mat-menu-item (click)="delete(element._id)" routerLink="/matches">
              <mat-icon>delete_sweep</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card-content>
</mat-card>

