<h1 class="mat-h1">Edit match</h1>

<div *ngIf="teams && match">
  <mat-card>
    <mat-card-content>
      <form class="example-form" (ngSubmit)="save()" #matchForm="ngForm" matchNotTheSame>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Home Team</mat-label>
                <mat-select [(ngModel)]="match.homeTeam" name="homeTeam"
                            required #homeTeam="ngModel">
                  <mat-option *ngFor="let ht of teams" [value]="ht._id">
                    {{ht.name}}
                  </mat-option>
                </mat-select>
<!--                <mat-error *ngIf="matchForm.errors?.identityRevealed  && (matchForm.touched || matchForm.dirty)">Can not-->
<!--                  be the same-->
<!--                </mat-error>-->
                <mat-error *ngIf="homeTeam.hasError('required')">You must enter a value</mat-error>
              </mat-form-field>
            </td>
            <td></td>
            <td>
              <mat-icon>remove</mat-icon>
            </td>
            <td></td>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Away Team</mat-label>
                <mat-select [(ngModel)]="match.awayTeam" name="awayTeam"
                            required #awayTeam="ngModel">
                  <mat-option *ngFor="let aw of teams" [value]="aw._id">
                    {{aw.name}}
                  </mat-option>
                </mat-select>
<!--                <mat-error *ngIf="matchForm.errors?.identityRevealed  && (matchForm.touched || matchForm.dirty)">Can not-->
<!--                  be the same-->
<!--                </mat-error>-->
                <mat-error *ngIf="awayTeam.hasError('required')">You must enter a value</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-form-field class="example-full-width">
          <mat-label>Result</mat-label>
          <input matInput [(ngModel)]="match.result" name="result"
                 placeholder="1-1" value="..-.."
                 pattern="(\d{1,2})-(\d{1,2})" #result="ngModel">
          <mat-error *ngIf="result.hasError('pattern')">You must enter a valid score! (..-..)</mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="match.matchDate" name="matchDate"
                 required #matchDate="ngModel">
          <mat-error *ngIf="matchDate.hasError('required')">You must enter a value</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>

        <button type="submit"  mat-raised-button>Submit</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
